@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bright: #F4F6FF;
    --dark: #393E46;
}

body {
    background: var(--bright);
    box-sizing: content-box;
    color: var(--dark);
    font-family: 'Rubik', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.pointer{
    cursor: pointer;
}

.hidden{
    display: none;
}